# --- Python / Windows ---
env/
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log

# IDE / Editor
.vscode/
.idea/

# Credenciais / configs locais
*.env
*.env.*
.envrc

# Dados grandes/temporários
downloads/
.ipynb_checkpoints/
*.tmp
*.bak

# Mantém planilhas de índice (não ignore!)
# *.xls
# *.xlsx
# ipca-e_SerieHist/
